concurrent-log-handler==0.9.16
future==0.17.1
jieba==0.39
Pillow==9.3.0
pytorch-crf==0.7.2
pytorch_pretrained_bert==0.6.2
PyYAML==3.13
scikit-learn==0.21.1
tensorboard>=1.14.0
torch==1.1.0
tqdm==4.32.1
